@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
html {
  height: 100vh;
  background: #dddddd2e;
  font-family: 'Libre Baskerville', sans-serif;
}

body > h1 {
  text-align: center;
}

#tabs,
#detail-summary,
.group {
  width: 1024px;
  margin: 0 auto 3.5rem auto;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#modal,
#fullscreen-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#tabs,
#detail-summary,
#modal,
#fullscreen-nav {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 2;
}

.section-header {
  text-align: center;
}

.tab > input {
  display: none;
}

.tab > .tab-headers {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 0 -0.05rem 0;
}

.tab > .tab-headers > li {
  margin: 0 2rem 0 0;
  -webkit-text-decoration: solid underline #5f5b62 0.2rem;
          text-decoration: solid underline #5f5b62 0.2rem;
  border-style: solid;
  border-radius: 0.35rem 0.35rem 0 0;
  border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
  border-color: transparent;
}

.tab > .tab-headers > li > label {
  cursor: pointer;
  color: #5f5b62;
  font-size: 0.8rem;
  font-weight: 300;
  display: block;
  padding: 0.3rem 2rem 0.5rem 2rem;
}

.tab > .tab-headers > li:hover {
  border-color: #5f5b62 #5f5b62 #5f5b62 #5f5b62;
}

.tab > .tab-content {
  padding: 1rem 2rem;
  background: #5f5b62;
  border-radius: 0 0.35rem 0.35rem 0.35rem;
  -webkit-box-shadow: #00000052 0.25rem 0.25rem 1rem;
          box-shadow: #00000052 0.25rem 0.25rem 1rem;
  border: solid #00000052 0.1rem;
  color: white;
}

.tab-content-1 {
  display: none;
}

#tab-1:checked ~ section .tab-content-1 {
  display: block !important;
}

#tab-1:checked ~ ul > li:nth-child(1) {
  background: #5f5b62;
  text-decoration: none;
}

#tab-1:checked ~ ul > li:nth-child(1) > label {
  color: white;
  font-weight: bold;
}

.tab-content-2 {
  display: none;
}

#tab-2:checked ~ section .tab-content-2 {
  display: block !important;
}

#tab-2:checked ~ ul > li:nth-child(2) {
  background: #5f5b62;
  text-decoration: none;
}

#tab-2:checked ~ ul > li:nth-child(2) > label {
  color: white;
  font-weight: bold;
}

.tab-content-3 {
  display: none;
}

#tab-3:checked ~ section .tab-content-3 {
  display: block !important;
}

#tab-3:checked ~ ul > li:nth-child(3) {
  background: #5f5b62;
  text-decoration: none;
}

#tab-3:checked ~ ul > li:nth-child(3) > label {
  color: white;
  font-weight: bold;
}

.modal-buttons, .nav-buttons {
  text-decoration: none;
  color: #5f5b62;
  display: inline-block;
  padding: 0.3rem 1.5rem;
  font-weight: 200;
  font-size: 0.9rem;
  border: solid #5f5b6287 0.1rem;
  border-radius: 2rem;
}

.modal-buttons:hover, .nav-buttons:hover {
  border: solid #5f5b62 0.1rem;
  -webkit-text-decoration: solid underline #5f5b62 0.2rem;
          text-decoration: solid underline #5f5b62 0.2rem;
  font-weight: 400;
}

.modal {
  position: fixed;
  top: 5rem;
  width: 1024px;
}

#regular-modal {
  display: none;
  max-width: 960px;
  background: white;
  padding: 2rem;
  border-radius: 0.35rem;
  position: relative;
  -webkit-box-shadow: #00000052 0.25rem 0.25rem 1rem;
          box-shadow: #00000052 0.25rem 0.25rem 1rem;
}

#regular-modal .modal-close {
  margin-top: 1rem;
  display: inline-block;
  border: solid #5f5b6287 0.1rem;
  background: #fff;
  border-radius: 2rem;
  text-decoration: none;
  color: #5f5b62;
  padding: 0.3rem 1.5rem;
  font-weight: 200;
  font-size: 0.9rem;
}

#regular-modal .modal-close:hover {
  border: solid #5f5b62 0.1rem;
  -webkit-text-decoration: solid underline #5f5b62 0.2rem;
          text-decoration: solid underline #5f5b62 0.2rem;
  font-weight: 400;
}

#regular-modal .modal-close:before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #000000b5;
  z-index: -1;
  cursor: default;
}

#regular-modal:target {
  display: block;
  position: absolute;
  top: 5rem;
}

#detail-summary details summary {
  padding: 1rem;
  background: #5f5b62;
  color: white;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
  font-weight: 700;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

#detail-summary details summary:hover {
  background: #5f5b62dc;
}

#detail-summary details[open] summary ~ * {
  -webkit-animation: sweep 0.3s ease-in-out;
          animation: sweep 0.3s ease-in-out;
}

@-webkit-keyframes sweep {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes sweep {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes circle-open {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes circle-open {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

.fullscreen-nav-overlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: #5f5b62;
  overflow-x: hidden;
}

.fullscreen-nav-overlay:target {
  -webkit-animation: circle-open 0.5s ease-in-out;
          animation: circle-open 0.5s ease-in-out;
  display: block;
}

.fullscreen-nav-overlay .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  top: 2rem;
  position: relative;
  overflow-y: hidden;
}

.fullscreen-nav-overlay .menu p {
  font-weight: 700;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.fullscreen-nav-overlay .menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.fullscreen-nav-overlay .menu ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-weight: 200;
}

.fullscreen-nav-overlay .menu ul li a:hover {
  background: #fff;
  color: #5f5b62;
  border-radius: 0.35rem;
  -webkit-text-decoration: solid underline #5f5b62 0.2rem;
          text-decoration: solid underline #5f5b62 0.2rem;
}

.fullscreen-nav-overlay .nav-close {
  position: absolute;
  right: 3rem;
  top: 0;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */