@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

$tab-count : 3;

html{
    height: 100vh;
    background: #dddddd2e;
    font-family: 'Libre Baskerville', sans-serif;
}

body > h1 {
    text-align: center;
}

#tabs,
#detail-summary,
.group {
    width: 1024px;
    margin: 0 auto 3.5rem auto;
}

.group {
    display: flex;
    justify-content: start;
}

#modal,
#fullscreen-nav {
    flex: 1;
}

#tabs,
#detail-summary,
#modal,
#fullscreen-nav {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 2;
}

.section-header{
    text-align: center;
}

.tab{
    & > input {
        display: none;
    }

    & > .tab-headers {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0 0 -0.05rem 0;
        & > li {
            margin: 0 2rem 0 0;
            text-decoration: solid underline #5f5b62 0.2rem;
            border-style: solid;
            border-radius: 0.35rem 0.35rem 0 0;
            border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
            border-color: transparent;
            & > label {
                cursor: pointer;
                color: #5f5b62;
                font-size: 0.8rem;
                font-weight: 300;
                display: block;
                padding: 0.3rem 2rem 0.5rem 2rem;
            }
            &:hover {
                border-color: #5f5b62 #5f5b62 #5f5b62 #5f5b62;
            }
        }
    }

    & > .tab-content {
        padding: 1rem 2rem;
        background: #5f5b62;
        border-radius: 0 0.35rem 0.35rem 0.35rem;
        box-shadow: #00000052 0.25rem 0.25rem 1rem;
        border: solid #00000052 0.1rem;
        color: white;
    }

}

@for $i from 1 through $tab-count {
    .tab-content-#{$i}{
        display: none;
    }
    #tab-#{$i}:checked ~ {
        & section .tab-content-#{$i}{
            display: block !important;
        }

        & ul > li:nth-child(#{$i}){
            background: #5f5b62;
            text-decoration: none;
            & > label {
                color: white;
                font-weight: bold;
            }
        }
    }
}

.modal-buttons, .nav-buttons {
    text-decoration: none;
    color: #5f5b62;
    display: inline-block;
    padding: 0.3rem 1.5rem;
    font-weight: 200;
    font-size: 0.9rem;
    border: solid #5f5b6287 0.1rem;
    border-radius: 2rem;
    &:hover{
        border: solid #5f5b62 0.1rem;
        text-decoration: solid underline #5f5b62 0.2rem;
        font-weight: 400;
    }
}

.modal {
    position: fixed;
    top: 5rem;
    width: 1024px;
}

#regular-modal {
    display: none;
    max-width: 960px;
    background: white;
    padding: 2rem;
    border-radius: 0.35rem;
    position: relative;
    box-shadow:  #00000052 0.25rem 0.25rem 1rem;

    & .modal-close {
        margin-top: 1rem;
        display: inline-block;
        border: solid #5f5b6287 0.1rem;
        background: #fff;
        border-radius: 2rem;
        text-decoration: none;
        color: #5f5b62;
        padding: 0.3rem 1.5rem;
        font-weight: 200;
        font-size: 0.9rem;
        &:hover{
            border: solid #5f5b62 0.1rem;
            text-decoration: solid underline #5f5b62 0.2rem;
            font-weight: 400;
        }
        &:before{
            position: fixed;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background: #000000b5;
            z-index: -1;
            cursor: default;
        }
    }

    &:target{
        display: block;
        position: absolute;
        top: 5rem;
    }
}

#detail-summary details summary {
    padding: 1rem;
    background: #5f5b62;
    color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
    font-weight: 700;
    transition: background-color .4s;
    &:hover{
        background: #5f5b62dc;
    }
}

#detail-summary details[open] summary ~ * {
    animation: sweep 0.3s ease-in-out;
}

@keyframes sweep {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes circle-open {
    0% {
        clip-path: circle(0%);
    }

    100% {
        clip-path: circle(100%);
    }
}


.fullscreen-nav-overlay{
    &:target{
        animation: circle-open 0.5s ease-in-out;
        display: block;
    }
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #5f5b62;
    overflow-x: hidden; 
    .menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-items: center;
        top: 2rem;
        position: relative;
        overflow-y: hidden;

        p {
            font-weight: 700;
            color: #fff;
            font-size: 1.6rem;
            margin-bottom: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin-top: 0;
            li a {
                text-decoration: none;
                display: block;
                color: #fff;
                padding: 0.5rem 2rem;
                font-size: 1rem;
                transition: background-color 0.3s;
                font-weight: 200;
                &:hover{
                    background: #fff;
                    color:#5f5b62;
                    border-radius: 0.35rem;
                    text-decoration: solid underline #5f5b62 0.2rem;
                }
            }
        }
    }
    .nav-close{
        position: absolute;
        right: 3rem;
        top: 0;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;
        color: white;
    }
}